.user-tag {
  width: 98%;
  display: inline-flex;
  padding: 13px 10px 13px 10px;
  margin: 0;
  border-radius: 5px;
  font-size: 17px;
  letter-spacing: 0.5px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background: rgb(0, 197, 171);
}

.user-tag li {
  list-style: none;
  cursor: pointer;
}

.user-tag li:hover a {
  background: rgb(238, 69, 2);
  padding: 13px 20px 13px 20px;
  color: rgb(255, 255, 255) !important;
}

.user-tag li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 20px 20px 20px 20px;
}

.user-tag li a:hover {
  text-decoration: none;
}

.outlet-container {
  margin: 20px 15px;
  padding: 10px 20px 10px 20px;
  border: 1px solid rgba(0, 197, 171, 0.5);
  border-radius: 10px;
}
