.main-navbar {
  width: 100%;
  background: rgb(2, 27, 170);
}

.dynamic-nav {
  display: inline-flex;
  padding: 30px 20px 30px 20px;
  margin: 0;
  font-size: 17px;
  letter-spacing: 0.5px;
}

.dynamic-nav li {
  list-style: none;
  cursor: pointer;
}

.dynamic-nav li:hover a {
  background: rgb(255, 221, 0);
  padding: 20px 20px 20px 20px;
  color: #000 !important;
}

.dynamic-nav li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 20px 20px 20px 20px;
}

.dynamic-nav li a:hover {
  text-decoration: none;
}

.outlet-container {
  margin: 20px 15px;
  padding: 10px 20px 10px 20px;
  border: 1px solid rgba(2, 27, 170, 0.5);
  border-radius: 10px;
}

